.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */
.btn{
    color: rgba(255, 255, 255, 1);

font-family: Fira Sans;
font-size: 12.6px;
font-weight: 600;
line-height: 100%;
letter-spacing: 0%;
text-align: left;
background-color: rgba(0, 106, 80, 1);
padding: 13px 29px 13px 29px;
border-radius: 5px;
border: none;
}
.btn:hover{
    background-color: lightseagreen;
    color: bisque;
    border-radius: 8px;
}
.center{
    margin: 0% auto;
    max-width: 1000px;
}


/* stsrt header style section */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.nav-title{
    color: rgba(14, 14, 14, 1);

    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
}
.sign-in-btn{
    color: rgba(0, 106, 80, 1);

    font-family: Fira Sans;
    font-size: 12px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
    padding: 12px 25px 12px 25px;
    border-color: lightgreen;
    border-radius: 5px;
}
.banner{
    background-color: rgba(198, 228, 214, 1);
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 64;
padding: 56px 70px 56px 70px;
border-radius: 20px;
margin-bottom: 60px;
}
.banner-sub-title{
    color: rgba(14, 14, 14, 0.5);

    font-family: Fira Sans;
    font-size: 17px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
}
.banner-title{
    color: rgba(14, 14, 14, 1);

font-family: Fira Sans;
font-size: 35px;
font-weight: 700;
line-height: 100%;
letter-spacing: 0%;
text-align: left;
/* width: 50%; */
}
.hero-img{
    width: 325px;
}
/* start failler section */
.pillar-section{
    margin-bottom: 56px;
}
.pillar-container{
    display: flex;
    gap: 20px;
    /* margin-bottom: 50px; */
    border-radius: 20px;
}
.pillar-container>.mini-div{
    background-color: rgba(255, 255, 255, 1);
    padding: 20px 20px 0px 20px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgba(255, 255, 255, 1);
}
.pillar-heading{
    color: rgba(14, 14, 14, 1);

font-family: Fira Sans;
font-size: 28px;
font-weight: 700;
line-height: 100%;
letter-spacing: 0%;
text-align: left;
}
.card-icon-img{
    height: 45px;
    width: 45px;
}
.mini-div-title{
    color: rgba(14, 14, 14, 0.8);

font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
line-height: 100%;
letter-spacing: 0%;
text-align: left;
}
.mini-div-discription{
    color: rgba(14, 14, 14, 0.7);

font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
/* start future style section */
.future-section-title{
    color: rgba(14, 14, 14, 1);

font-family: Fira Sans;
font-size: 28px;
font-weight: 700;
line-height: 100%;
letter-spacing: 0%;
text-align: left;
}
.future-section-discription{
    color: rgba(14, 14, 14, 0.7);

font-family: Fira Sans;
font-size: 13px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 25px;
}
.mini-div-title{
    color: rgba(14, 14, 14, 0.8);

font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
line-height: 100%;
letter-spacing: 0%;
text-align: left;
}
.mini-div-discription{
    color: rgba(14, 14, 14, 0.7);

font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.mini-btn{
    color: rgba(255, 255, 255, 1);

font-family: Fira Sans;
font-size: 12px;
font-weight: 600;
line-height: 100%;
letter-spacing: 0%;
text-align: left;
}
.future-mni-btn-1{
    background-color: rgba(84, 144, 245, 1);
    padding: 9px 14px 7px 14px;
    border: none;
    border-radius: 5px;
}
.future-mni-btn-2{
    background-color:rgba(9, 161, 92, 1);
    padding: 9px 14px 7px 14px;
    border: none;
    border-radius: 5px;
}
.future-mni-btn-3{
    background-color: rgba(255, 194, 57, 1);
    padding: 9px 14px 7px 14px;
    border: none;
    border-radius: 5px;
}
.future-mini-div-1{
    background: rgba(84, 144, 245, 0.2);
    padding: 22px;
    border-radius: 12px;
}
.future-mini-div-2{
    background: rgba(198, 228, 214, 1);
    padding: 22px;
    border-radius: 12px;
}
.future-mini-div-3{
    background: rgba(247, 235, 207, 1);
    padding: 22px;
    border-radius: 12px;
}
.future-section-container{
    display: flex;
    gap: 16px;
}
/* start question section */
.question-section{
    background: rgba(255, 255, 255, 1);
    border-radius: 13px;
    padding: 25px 20px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    margin-top: 30px;
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: 20px 20px;
    margin-bottom: 50px;
}
.question-section-discription{
    color: rgba(14, 14, 14, 0.8);

font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.question-title{
    color: rgba(14, 14, 14, 0.8);

font-family: Fira Sans;
font-size: 20px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 0px;
}
/* start news section */
.section-title{
    color: rgba(14, 14, 14, 1);

font-family: Fira Sans;
font-size: 30px;
font-weight: 700;
line-height: 100%;
letter-spacing: 0%;
text-align: left;
}
.section-description{
    color: rgba(14, 14, 14, 0.7);

font-family: Fira Sans;
font-size: 12px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.satelite{
    border-radius: 16px;
}
.contant-title{
    color: rgba(14, 14, 14, 0.8);

font-family: Fira Sans;
font-size: 28px;
font-weight: 700;
line-height: 100%;
letter-spacing: 0%;
text-align: left;
}
.news-section-discription{
    color: rgba(14, 14, 14, 0.7);

font-family: Fira Sans;
font-size: 12px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.news-section-container{
    display: flex;
    gap: 23px;
    background-color: white;
    border: 1px solid lavender;
    padding: 34px;
    border-radius: 16px;
}
.news-section{
    margin-bottom: 50px;
}
/* donate section */
.donate-section{
    margin-bottom: 50px;
}
.donate-section-title{
    color: rgba(14, 14, 14, 1);

font-family: Fira Sans;
font-size: 30px;
font-weight: 700;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
}
.donate-section-discription{
    color: rgba(14, 14, 14, 0.7);

font-family: Fira Sans;
font-size: 12px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
}
.taka-btn{
    color: rgba(14, 14, 14, 0.8);

font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 100%;
letter-spacing: 0%;
text-align: left;
padding: 30px;
border-radius: 12px;
border: 1px solid lightcyan;
}
.taka-btn-2{
    background: rgba(198, 228, 214, 1);
        color: rgba(14, 14, 14, 0.8);

font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 100%;
letter-spacing: 0%;
text-align: left;
padding: 30px;
border-radius: 12px;
border: 1px solid lightcyan;
}
.taka-btn:hover{
    background-color: limegreen;
    border-radius: 16px;
    color: white;
}
.taka-btn-2:hover{
    background-color: limegreen;
    border-radius: 16px;
    color: white;
}
.donate-section-container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.input-button{
    width: 85%;
    border-radius: 8px;
    padding: 20px 40px 20px 40px;
    text-align: center;
    border: 1px solid lightgrey;
    margin-bottom: 20px;
}
.center-2{
    text-align: center;
}
/* subscrib section */
.input-submit{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}
.input-email{
    width: 60%;
    /* text-align: center; */
    /* height: 50%; */
    padding: 20px 5px;
    border-radius: 6px 0px 0px 6px;
    border: 1px solid lightgray;
}
.subscribe{
    background-color: rgba(0, 106, 80, 1);
    padding: 21px 30px;
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 0px 6px 6px 0px;

font-family: Fira Sans;
font-size: 16px;
font-weight: 600;
line-height: 100%;
letter-spacing: 0%;
text-align: left;
}
.input-submit{
    text-align: justify;
}
/* footer section */
.footer-title{
    color: rgba(14, 14, 14, 1);

font-family: Fira Sans;
font-size: 28px;
font-weight: 700;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
}
.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 19px;
}